
<br><br><br>
<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Router</h4>
            <p class="card-text">Nome: {{value?.['board-name']}}</p>
            <a routerLink="/router" class="btn btn-primary stretched-link">Gerir</a>
            </div>
      </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title">Adicionar Router</h4>
            <a  class="btn btn-primary stretched-link">Adicionar</a></div>
        </div>
    </div>
  </div>
  
