
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <br><br>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/interfaces" href="#">
            Interfaces
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/security" href="#">
              Segurança
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/interfacesWlan" href="#">
              Redes Wireless
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/staticRoutes" href="#">
              Rotas Estáticas
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/addresses" href="#">
              Endereços IP
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dhcp" href="#">
              DHCP
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dns" href="#">
              DNS
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/firewall" href="#">
              Firewall
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/forwarding" href="#">
              Encaminhamento
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/vpn" href="#">
              VPN
            </a>
          </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>